@import "Main.css";

Button{
    -fx-background-color: #88d8b0;
    -fx-font-size: 20;
    -fx-pref-width: 150;
}

HBox#sceneBox{
    -fx-padding: 20 20;
    -fx-background-color: #FEC601;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 5;
    -fx-border-color: #000;
}


Button:hover{
    -fx-background-color: #ED553B;
}

VBox{
    -fx-background-color: -backgroundDark;
}

Label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
}
