* {
    -primary: #F2B134;
    -secondary: #4FB99F;
    -danger: #ED553B;
    -light :#068587;
    -dark :#112F41;
    -grey : #505054;
    -background: #2EC1E6;
    -backgroundDark: #249ab8;
    -fx-font-family: "Nexa Bold";
}

Button{
    -fx-border-radius: 4px;
    -fx-text-fill: #ffffff;
    -fx-pref-height: 3.5em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
    -fx-background-radius: 10;
}

TextField, PasswordField{
    -fx-background-color: #F2F2F2;
    -fx-border-width: 1px;
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-text-overrun: ellipsis;
}

.primary{
    -fx-background-color: -primary;
}
.secondary{
    -fx-background-color: -secondary;
}
.danger{
    -fx-background-color: -danger;
}
.light{
    -fx-background-color: -light;
}
.dark{
    -fx-background-color: -dark;
}

.error{
    -fx-text-fill: #FF1654;
}

#Title{
    -fx-font-size: 80;
}

#subtitle{
    -fx-font-size: 60;
}