@import "Main.css";

Button{
    -fx-background-color: -secondary;
}

TextField{
    -fx-pref-width: 200;
}

Button:hover{
    -fx-background-color: #ED553B;
}

VBox{
    -fx-background-color: -backgroundDark;
}

Label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
}