@import "Main.css";

HBox{
    -fx-font-size: 20;
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-pref-height: 50;
}

VBox#background{
    -fx-background-color: -backgroundDark;
}

GridPane#playersGridPane{
    -fx-padding: 30 30;
    -fx-background-color: -background;
    -fx-border-width: 5;
    -fx-border-color: #000000;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-insets: 80px;
    -fx-background-insets: 80px;
}

.start-button{
    -fx-background-color: #A4D05F;
    -fx-font-size: 20;
}

#Title{
    -fx-text-fill: #ffffff;
}

.return-button{
    -fx-background-color: #FF1654;
}