@import "Main.css";

Label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
}
#raceMode{
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}
#elimMode{
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

GridPane{
    -fx-background-color: -backgroundDark;
}

Button{
    -fx-background-color: #A4D05F;
    -fx-pref-height: 60;
    -fx-font-size: 20;
}

.return-button{
    -fx-background-color: -danger;
}

GridPane#createTable{
    -fx-padding: 30 30;
    -fx-background-color: #F37E87;
    -fx-border-width: 5;
    -fx-border-color: #000000;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}