@import "Main.css";

.easy{
     -fx-background-color: -secondary;
 }

.normal{
    -fx-background-color: -primary;
}

.hard{
    -fx-background-color: -danger;
}

GridPane{
    -fx-background-color: -dark;
}

Button{
    -fx-pref-width: 100;
    -fx-pref-height: 100;
    -fx-text-fill: #000000;
}

Label{
    -fx-font-family: "Light-45", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    -fx-text-fill: #ffffff;
}